<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.feelx88.flashlighttoggler"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-feature android:name="CAMERA" android:required="true"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="FLTSettings" android:label="FLTSettings" android:logo="@android:drawable/ic_menu_preferences" android:icon="@android:drawable/ic_menu_preferences" android:taskAffinity="de.feelx88.flashlighttoggler.settingstask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity><activity
            android:name="de.feelx88.flashlighttoggler.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="FlashLightService"></service>
        <receiver android:permission="android.permission.BIND_DEVICE_ADMIN" android:name="de.feelx88.flashlighttoggler.FLTDeviceAdminReceiver">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin_config"/>
        </receiver>
        
    </application>

</manifest>